<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>14</TotalTime><Application>LibreOffice/26.2.2.2$Windows_X86_64 LibreOffice_project/1f77d10d6938fd34972958f64b2bcfa54f8b1ba5</Application><AppVersion>15.0000</AppVersion><Pages>2</Pages><Words>631</Words><Characters>3569</Characters><CharactersWithSpaces>4333</CharactersWithSpaces><Paragraphs>51</Paragraphs></Properties>